body {
    margin: 0px;
    background-color: #262626;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
}

p {
    margin: 0px;
}


a {
    color: inherit;
    text-decoration: none;
    margin: 0;
}


.main-nav {
    height: 73px;
    border-radius: 37px;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.main-logo {
    color: #ffffff;
    margin-left: 70px;
}

.main-nav a {
    width: 100%;
    height: 100%;
}

.main-menu {
    margin-left: 50px;
}

.main-menu li {
    position: relative;
    display: block;
    /* margin-right: 50px; */
    width: 130px;
    height: 70px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
}

.main-menu li span {
    letter-spacing: 0.8px;
}

.main-menu li:hover {
    color: rgb(255, 166, 0);
    font-size: 1.1rem;

}

.filters-container {
    height: 50px;
}

.keys-container {
    margin-top: 14px;
    background-color: lightslategrey;
    height: 100%;
    border-radius: 20px;
}

.keys-container p {
    color: aliceblue;
    padding: 5px;
}

.search-container {
    width: 40%;
    height: 50px;
    margin-top: 16px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 29px;
    background-color: #22252c;
    opacity: 0.38;
}

.search-container input {
    border-radius: 12px;
    width: 100%;
    height: 50px;
}

input#search {
    background-image: url(/buttons/search-icon.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 25px;
    text-indent: 20px;
    text-indent: 20px;
}

.populars-container {
    width: 40%;
    height: 50px;
    margin-top: 16px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 29px;
    background-color: #22252c;
    opacity: 0.38;
}

.populars-container p {
    margin-left: 20px;
    margin-top: 5px;
}

.main-menu {
    display: block;
    height: 100%;
}

.menu-btn {
    position: absolute;
    visibility: hidden;
    background-color: #3b3b3b;
    right: 20px;
    color: #c2c2c2;
    font-size: 22px;
    border-radius: 5px;
}

/* Memes Page */

.memes-page {
    margin-top: 16px;
    border-radius: 10px;
    background-color: #383b42;
    width: 100%;
}

.memes-imges-container {
    margin-top: 45px;
    width: 100%;
}

.memes-imges-container img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
}

/* Canvas */

.memes-canvas-page {
    margin-top: 40px;
    width: 100%;
    height: 500px;
}

#memes-canvas {
    border: 2px solid rgb(248, 248, 248);
    border-radius: 15px;
    width: 100%;
    max-height: 500px;
}

.canvas-container {
    width: calc(50% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

/* Inputs */

.inputs-container {
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 30px;
    background-color: #ebeef3;
    /* opacity: 0.11; */
    width: calc(50% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    height: 400px;
}

#meme-txt {
    align-content: space-around;
    width: 80%;
    height: 40px;
}

.meme-buttons-button {
    padding: 2px;
    height: 60px;
    width: 60px;
}

/* Footer */

.footer {
    height: 150px;
    background-color: #383b42;
}

/* Helpers */

.heigth50 {
    height: 50px;
}

.grid-container {
    grid-row-gap: 26px;
    grid-column-gap: 26px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
}

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: row;
}

.hidden {
    display: none;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-basis {
    flex-basis: 1;
}

.space-between {
    justify-content: space-between;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.text-align {
    text-align: center;
}

.fill {
    width: 100%;
}

.wrapper {
    position: relative;
    width: 1000px;
    height: 4000px;
    margin: 0 auto;
}